<!DOCTYPE html>
<html>
<body>

    <h1>Hey there!</h1>

    <p>Signup and get free 1 month free tuition!</p>

    <a class="nav-link text-blue" asp-area="" asp-controller="Login" asp-action="Signup">Signup here!</a>

    <p>Got an account already?</p>

    <a class="nav-link text-blue" asp-area="" asp-controller="Login" asp-action="Login">Login here!</a>


    <h2>See you around!</h2>

</body>
</html>
