@{
    ViewData["Title"] = "Details";
}

<h2>Welcome Aboard!</h2>
<br />

@*<ul>
    @for (int i = 0; i < (int)ViewData["NumTimes"]!; i++)
    {
        <li>@ViewData["Message"]</li>
    }
</ul>*@

<p>@ViewData["Greet"]</p>
<p>@ViewData["Age"]</p>
<p>@ViewData["Status"]</p>
